*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* background color */
  /* background-color adalah propery css yang mengatur warna dasar dalam sebuah element */
  background-color: white;
  
  /* width dan heigth */
  /* width dan heigth adalah property yang mengatur ukuran lebar dan tinggi element. nilai yang di terima bisa berupa px, rem, % */

  /* border */
  /* border adalah property dalam css yang mengatur ukuran/ketebalan, bentuk dan warna border/pembatas */
  /* propery border meliputi border, border-width, border-style, border-color*/
  /* border-width: 2px;
  border-style: solid;
  border-color: red; */

  /* padding */
  /* Padding adalah property dalam css yang mengatur jarak antara konten dengan border */
  /* property padding meliputi padding, padding-top, padding-right, padding-bottom, padding-left */
  /* short hand property padding */
  /* padding : padding-top padding-right padding-bottom padding-left */
  /* padding : (padding-top & padding bottom) (padding-left & padding-right) */
  

  /* margin */
  /* Margin adalah property dalam css yang mengatur jarak luar antar komponen */
  /* property margin meliputi margin, margin-top, margin-right, margin-bottom, margin-left */

  /* short hand property margin */
  /* margin : margin-top margin-right margin-bottom margin-left */
  /* margin : (margin-top & margin bottom) (margin-left & margin-right) */
  
}

